{% extends 'pagee.html'%}
{% block content %}

<h1> this is about page</h1>

{% if n %}
<h1>{{n}}</h1>
{% else %}
<h1>wrong</h1>
{% endif %}


{% if l %}
<ol>
    {% for i in l %}
    <li>{{i}}</li>
    {% endfor %}
</ol>
{% endif %}


<form method="post">
    {%csrf_token%}
    {% if use%}
    <script type="text/javascript">
        alert('successfull');
    </script>
    {% endif%}

    <label>Name:</label>
    <input type="text" name="n1" id="n1">

    <input type="submit" value="submit">

</form>

{% endblock %}