{% extends 'pagee.html'%}
{% block content %}
<img src="/assets/images/n.jpg" height="300" width="300" id="d1" >
<img src="/assets/images/hands.jpg" height="300" width="300" id="d2" >
<br>
<div class="card col-sm-3" >
  <img src="/assets/images/google.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

  </div>
</div>


{% endblock %}