{% extends 'pagee.html'%}
{% block content%}
<form method="post" enctype="multipart/form-data" >
    {% csrf_token%}
    {% if p %}
    <script type="text/javascript">
        alert('successfully registered');
    </script>


    {% endif %}
<label>FullName:</label>
<input type="text" name="name" id="name"><br>

<label>Email:</label>
<input type="text" name="email" id="email"><br>

<label>Password:</label>
<input type="password" name="password" id="password"><br>


<label>Mobile:</label>
<input type="text" name="mobile" id="mobile"><br>

    <label>photo</label>
    <input type="file" name="img" id="img"><br>

<input type="submit" value="insert photo">

</form>

{% endblock%}